.btn {
  height: 60px;
  width: 223px;
  padding: 0 15px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  background: $primary-color url('../images/icons/button-arrow.svg') no-repeat right 15px center;
}
